.img-1 {
    background-image: url('https://i.ibb.co/1966YzX/pexels-rachel-claire-5490778.jpg');
}

.img-2 {
    background-image: url('https://i.ibb.co/D8cx2cw/pexels-andrea-piacquadio-842811.jpg');
}

.img-3 {
    background-image: url('https://i.ibb.co/d7D5sQ3/pexels-andrea-piacquadio-974911.jpg');
}